/* Basic Style */

body {

    background: #fff;
    
    color: #333;
    
    font-family: Lato, sans-serif;
    
    background: #B2FEFA;
    
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
    
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to right, #0ED2F7, #B2FEFA);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

    body.dark {
        background: #000000;
        
        color: #9cf94b;
        
        font-family: Lato, sans-serif;
        
        background: #060606;
        
        /* fallback for old browsers */
        
        background: -webkit-linear-gradient(to right, #020202, #3b3b3b);
        
        /* Chrome 10-25, Safari 5.1-6 */
        
        background: linear-gradient(to right, #020202, #3b3b3b);
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        }

    #title {
    
    margin-top: 5px;
    
    font-size: 50px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-align: center;
    
    }
    
    .container {
    
    display: block;
    
    width: 40vw;
    
    margin: 50px auto 0;
    
    }
    
    ul {
    
    margin: 0;
    
    padding: 0;
    
    }
    
    li * {
    
    float: left;
    
    }
    
    li,
    
    h3 {
    
    clear: both;
    
    list-style: none;
    
    }
    
    input,
    
    button {
    
    outline: none;
    
    }
    
    button {
    
    background-color: #008CBA;
    
    border: none;
    
    color: white;
    
    padding: 15px 32px;
    
    text-align: center;
    
    text-decoration: none;
    
    display: inline-block;
    
    padding: 5px;
    
    margin: 5px;
    
    font-size: 13px;
    
    border-radius: 10%;
    
    }

    body.dark button{
        background-color: #9cf94b;
        color: #000000;
    }
    
    button:hover {
    
    background: #2079b0;
    
    text-decoration: none;
    
    cursor: pointer;
    
    }
    
    /* Heading */
    
    h3,
    
    label[for='new-task'] {
    
    /*color: #333;*/
    
    font-weight: 700;
    
    font-size: 15px;
    
    /*border-bottom: 2px solid #333;*/
    
    padding: 30px 0 10px;
    
    margin: 0;
    
    text-transform: uppercase;
    
    }
    
    input[type="text"] {
    
    margin: 0;
    
    font-size: 18px;
    
    line-height: 18px;
    
    height: 18px;
    
    padding: 10px;
    
    border: 1px solid #ddd;
    
    background: #fff;
    
    border-radius: 6px;
    
    font-family: Lato, sans-serif;
    
    color: #888;
    
    }
    
    input[type="text"]:focus {
    
    /* color: #333; */
    
    }
    
    /* New Task */
    
    label[for='new-task'] {
    
    display: block;
    
    margin: 0 0 20px;
    
    }
    
    input#new-task {
    
    float: left;
    
    width: 318px;
    
    }
    
    /* Task list */
    
    li {
    
    overflow: hidden;
    
    padding: 20px 0;
    
    border: 5px solid #eee;
    
    }

    body.dark li{
        border: 5px solid #9cf94b;
    }
    
    li>input[type="checkbox"] {
    
    margin: 0 10px;
    
    position: relative;
    
    top: 15px;
    
    }
    
    li>label {
    
    font-size: 18px;
    
    line-height: 40px;
    
    width: 237px;
    
    padding: 0 0 0 11px;
    
    }
    
    li>input[type="text"] {
    
    width: 226px;
    
    }
    
    li>.delete:hover {
    
    color: #CF2323;
    
    }
    
    /* Completed */
    
    #completed-tasks {
        min-height: 100px;
    }

    #completed-tasks label {
    
    text-decoration: line-through;
    
    /* color: #888; */
    
    }
    
    /* Edit Task */
    
    ul li input[type=text] {
    
    display: none;
    
    }
    
    ul li.editMode input[type=text] {
    
    display: block;
    
    }
    
    ul li.editMode label {
    
    display: none;
    
    }
    
    #clear {
    
    font-size: 15px;
    
    float: right;
    
    text-align: center;
    
    }

    .draggable {
        cursor: grab;
    }

    .droppable {

    }

    @keyframes glow {
        0% {
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
        }
        50% {
          box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9);
        }
        100% {
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
        }
      }
      
      .movingTask {
        animation: glow 2s infinite; /* Apply the glow animation with a 2-second duration and infinite repetition */
      }